In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

import matplotlib.pyplot as plt

In [31]:
df=pd.read_csv("fuel_ferc1.csv")

df.head(34)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590000,18.590,18.530,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592000,18.580,18.530,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130000,39.720,38.120,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950000,47.210,45.990,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000000,2.770,2.770,2.570
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933.0,23.922000,44.240,43.250,1.850
6,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,nuclear,kgU,2260.0,0.064094,28.770,0.000,0.450
7,f1_fuel_1994_12_2_1_10,2,1994,resondent's portion,coal,ton,5372133.0,24.840000,58.540,55.130,2.360
8,f1_fuel_1994_12_2_2_10,2,1994,respondent's portion,coal,ton,817520.0,24.290000,33.970,34.650,1.400
9,f1_fuel_1994_12_4_0_1,4,1994,units 1-3,coal,ton,1471233.0,22.484000,28.730,28.110,1.278
10,f1_fuel_1994_12_4_0_2,4,1994,units 1-3,gas,mcf,262720.0,1.026000,1.940,1.940,13.900
11,f1_fuel_1994_12_4_0_4,4,1994,unit 4,coal,ton,476779.0,22.428000,28.710,28.110,1.280
12,f1_fuel_1994_12_4_0_5,4,1994,unit 4,gas,mcf,6673.0,1.026000,1.940,1.940,1.900
13,f1_fuel_1994_12_6_0_1,6,1994,clinch river,coal,ton,1655558.0,25.038000,30.248,29.019,1.208
14,f1_fuel_1994_12_6_0_2,6,1994,clinch river,oil,bbl,6510.0,5.875338,32.130,23.444,5.469
15,f1_fuel_1994_12_6_0_4,6,1994,amos-apco share,coal,ton,3520831.0,24.508000,44.404,42.915,1.812
16,f1_fuel_1994_12_6_0_7,6,1994,amos-total,coal,ton,5327281.0,24.538000,44.312,42.940,1.806
17,f1_fuel_1994_12_6_0_10,6,1994,glen lyn,coal,ton,666975.0,25.836000,36.268,32.893,1.404
18,f1_fuel_1994_12_6_0_13,6,1994,kanawha river,coal,ton,391864.0,25.160000,46.024,42.034,1.829
19,f1_fuel_1994_12_6_0_14,6,1994,kanawha river,oil,bbl,3505.0,5.774958,33.321,26.280,5.770
20,f1_fuel_1994_12_6_1_7,6,1994,mountainr,coal,ton,2837040.0,24.526000,39.911,38.717,1.627
21,f1_fuel_1994_12_6_1_8,6,1994,mountainr,oil,bbl,50013.0,5.845644,30.319,23.884,5.187
22,f1_fuel_1994_12_6_1_10,6,1994,philip sporn-apco,coal,ton,383043.0,24.334000,39.850,35.856,1.638
23,f1_fuel_1994_12_6_1_11,6,1994,philip sporn-apco,oil,bbl,13969.0,5.742870,32.184,30.508,5.604
24,f1_fuel_1994_12_6_1_13,6,1994,philip sporn ttl plt,coal,ton,1338459.0,24.334000,40.144,35.793,1.650
25,f1_fuel_1994_12_6_1_14,6,1994,philip sporn ttl plt,oil,bbl,48750.0,5.742828,32.186,30.507,5.605
26,f1_fuel_1994_12_7_0_1,7,1994,"cholla units 1,2,3",coal,ton,2062799.0,19.970000,31.520,31.200,1.580
27,f1_fuel_1994_12_7_0_2,7,1994,"cholla units 1,2,3",oil,bbl,10088.0,5.851020,32.650,28.730,5.580
28,f1_fuel_1994_12_7_0_3,7,1994,"cholla units 1,2,3",gas,mcf,38086.0,0.880901,2.490,2.480,2.820
29,f1_fuel_1994_12_7_0_7,7,1994,4 corners,coal,ton,2599962.0,17.530000,21.170,20.860,1.210
30,f1_fuel_1994_12_7_0_8,7,1994,4 corners,gas,mcf,230205.0,1.015424,2.690,2.690,2.650
31,f1_fuel_1994_12_7_0_10,7,1994,4 corners,coal,ton,867805.0,17.520000,21.990,21.050,1.260
32,f1_fuel_1994_12_7_0_11,7,1994,4 corners,gas,mcf,45116.0,1.015048,2.980,2.980,2.940
33,f1_fuel_1994_12_7_0_13,7,1994,ocotillo 1&2,gas,mcf,2996148.0,1.021877,2.180,2.170,2.130

In [40]:
fuel = df[(df['fuel_unit'] == 'ton') & (df['plant_name_ferc1'] == 'barry')]

fuel

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.210,45.990,1.970
1383,f1_fuel_1995_12_2_0_7,2,1995,barry,coal,ton,3902868.0,24.152,46.820,46.270,1.940
3341,f1_fuel_1996_12_2_0_7,2,1996,barry,coal,ton,4374378.0,24.100,47.190,46.440,1.960
4451,f1_fuel_1997_12_2_0_7,2,1997,barry,coal,ton,4653536.0,24.038,46.968,46.759,1.954
5319,f1_fuel_1998_12_2_0_9,2,1998,barry,coal,ton,4211990.0,24.188,48.942,48.218,2.023

In [25]:
df['plant_name_ferc1'].unique()

array(['rockport', 'rockport total plant', 'gorgas', ...,
       'conemaugh (3.83%)', 'allegany station 133', nan], dtype=object)

In [29]:
df['plant_name_ferc1'].count()

13973

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13974 entries, 0 to 13973
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     13974 non-null  object
 1   utility_id_ferc1              13974 non-null  int64
 2   report_year                   13974 non-null  int64
 3   plant_name_ferc1              13973 non-null  object
 4   fuel_type_code_pudl           13973 non-null  object
 5   fuel_unit                     13863 non-null  object
 6   fuel_qty_burned               13973 non-null  float64
 7   fuel_mmbtu_per_unit           13973 non-null  float64
 8   fuel_cost_per_unit_burned     13973 non-null  float64
 9   fuel_cost_per_unit_delivered  13973 non-null  float64
 10  fuel_cost_per_mmbtu           13973 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 1.2+ MB

In [8]:
df['fuel_unit'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
13969    False
13970    False
13971    False
13972    False
13973     True
Name: fuel_unit, Length: 13974, dtype: bool